# How to get NDVI at each GPS coordinate

In this notebook, I explain how to get NDVI data at given GPS coordinates.
I define a couple of functions below in which you get NDVI values by just giving GPS coordinates (longitude and latitude).

I use the Google Earth Engine, which stores the Landsat 8.
The description for NDVI data can be found [here](https://developers.google.com/earth-engine/datasets/catalog/LANDSAT_LC08_C01_T1_8DAY_NDVI).
To download the NDVI data and to process it, I use [the Earth Engine Python API](https://developers.google.com/earth-engine/python_install).
Since it was hard to show the map of NDVI values, if you are interested in the visualization, go to Google Earth Engine console and run the code  in [this page](https://developers.google.com/earth-engine/datasets/catalog/LANDSAT_LC08_C01_T1_8DAY_NDVI).

## Import packages

In [1]:
import platform
print(platform.python_version())

3.6.9

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import ee
import datetime

## Authentication for Earth Engine using Google account

To authenticate to the Earth Engine servers, you need to run the following command:

In [3]:
ee.Authenticate()

Enter verification code: 4/zQGUDBrpWqCbNBA0s7a1Sg4cOlRUTo9OqZM7q8-Q_WdRLJ70lNqIR9w

Successfully saved authorization token.

In [57]:
# Initialize the API
ee.Initialize()

## Case 1: NDVI at common time frame for all observations

Here, I define functions to get the NDVI for a common time frame for all given GPS coordinates.
This can be useful when, for example, you are interested in the long-term vegetation index for certain places.
For this purpose, I use the median value of the NDVI values for a certain period.

In [33]:
# Function to get NDVI value for a certain GPS coordinate (lon and lat)
def get_ndvi(lon, lat, img):
    point = ee.Geometry.Point([lon, lat])
    img_reduced = img.reduceRegion(reducer = ee.Reducer.toList(),
                      geometry = point,
                      maxPixels = 1e1,
                      scale = 10)
    data = img_reduced.get('NDVI').getInfo()
    try:
        return data[0]
    except:
        return np.nan

In [24]:
# Function to get NDVI values for all GPS coordinates in a given dataset
def get_ndvi_all(df_id, df_lon, df_lat, start_date, end_date):
    
    dataset = ee.ImageCollection('LANDSAT/LC08/C01/T1_8DAY_NDVI')
    
    img = dataset.filterDate(start_date, end_date)
    
    img = img.median()
    img = img.addBands(ee.Image.pixelLonLat())
    
    ndvi_array = np.zeros(len(df_lon))
    for i, lon, lat in zip(range(len(acled_data)), df_lon, df_lat):
        ndvi_array[i] = get_ndvi(lon, lat, img)
    output_df = pd.DataFrame({'id': df_id, 'lon': df_lon, 'lat': df_lat, 'ndvi': ndvi_array})
    return output_df

### Example: ACLED

As an example, I show how to use the functions above by using the places with conflicts.
The conflict data is obtained from [ACLED](https://acleddata.com/curated-data-files/).
For simplicity, in this example, I use the first 12 events in the dataset:

In [58]:
acled_data = pd.read_excel('Africa_1997-2020_Apr25_short.xlsx')
acled_data.head()

,ISO,EVENT_ID_CNTY,EVENT_ID_NO_CNTY,EVENT_DATE,YEAR,TIME_PRECISION,EVENT_TYPE,SUB_EVENT_TYPE,ACTOR1,ASSOC_ACTOR_1,...,ADMIN3,LOCATION,LATITUDE,LONGITUDE,GEO_PRECISION,SOURCE,SOURCE_SCALE,NOTES,FATALITIES,TIMESTAMP
0,12,ALG1,1,01-January-1997,1997,1,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,...,NaN,Douaouda,36.672,2.789,1,Algeria Watch,Other,5 January: Beheading of 5 citizens in Douaouda...,5,1582579226
1,12,ALG2,2,02-January-1997,1997,1,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,...,NaN,Hassasna,36.133,0.883,1,Algeria Watch,Other,Two citizens were beheaded in Hassasna.,2,1582579226
2,12,ALG3,3,03-January-1997,1997,1,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,...,NaN,Hassi El Abed,34.966,-0.290,1,Algeria Watch,Other,Two citizens were killed in a raid on the vill...,2,1582579226
3,12,ALG4,4,04-January-1997,1997,1,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,...,NaN,Blida,36.469,2.829,1,Algeria Watch,Other,4 January: 16 citizens were murdered in the vi...,16,1582579226
4,12,ALG5,5,05-January-1997,1997,1,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,...,NaN,Douaouda,36.672,2.789,1,Algeria Watch,Other,5 January: Killing of 18 citizens in the Olivi...,18,1582579226

To get the NDVI values for these places, I use the function `get_ndvi_all` defined above.
Notice that there are 5 arguments required in this function:
1. df_id: ID in the dataset, which makes it easy to merge the output data with the original dataset (for example, on Stata, by using `merge` command);
2. df_lon: longitudes in each place;
3. df_lat: latitudes in each place;
4. start_date: the beginning of the period for which you want NDVI values;
5. end_date: the end of the period for which you want NDVI values.

Below, you can find an example of how to extract these information and use the `get_ndvi_all` function:

In [59]:
df_id = acled_data.EVENT_ID_CNTY
df_lon = acled_data.LONGITUDE
df_lat = acled_data.LATITUDE

start_date = '2010-01-01'
end_date = '2017-12-31'

output = get_ndvi_all(df_id, df_lon, df_lat, start_date, end_date)
output

       id    lon     lat      ndvi
0    ALG1  2.789  36.672  0.274737
1    ALG2  0.883  36.133  0.107337
2    ALG3 -0.290  34.966  0.164398
3    ALG4  2.829  36.469  0.181368
4    ALG5  2.789  36.672  0.274737
5    ALG6  2.922  36.803  0.115068
6    ALG7  2.418  36.514  0.154914
7    ALG8  6.874  35.971  0.098428
8   ALG11  5.767  36.800  0.216433
9    ALG9  3.042  36.752  0.369996
10  ALG10  2.789  36.672  0.274737
11  ALG12  3.118  36.722  0.097326

You can save the output table as a csv file by `output.to_csv('filename.csv')`.

## Case 2: NDVI at different times for each event

Here, I define functions to get the NDVI at different times at different GPS coordinates.
You want to use the functions rather than the ones define above if you want a vegetation index at a certain time (eg. when a conflict occurred).

In [32]:
def get_ndvi_timing(lon, lat, year, month, dataset):
    
    start_date = str(year) + '-' + str(month).zfill(2) + '-01'
    end_date   = str(year + 1) + '-' + str(month).zfill(2) + '-01'
    img = dataset.filterDate(start_date, end_date)
    img = dataset.median()
    img = img.addBands(ee.Image.pixelLonLat())

    point = ee.Geometry.Point([lon, lat])
    img_reduced = img.reduceRegion(reducer = ee.Reducer.toList(),
                      geometry = point,
                      maxPixels = 1e1,
                      scale = 10)
    data = img_reduced.get('NDVI').getInfo()
    try:
        return data[0]
    except:
        return np.nan

In [28]:
def get_ndvi_timing_all(df_id, df_lon, df_lat, df_year, df_month):
    
    dataset = ee.ImageCollection('LANDSAT/LC08/C01/T1_8DAY_NDVI')
    
    ndvi_array = np.zeros(len(df_lon))
    for i, lon, lat, year, month in zip(range(len(acled_data)), df_lon, df_lat, df_year, df_month):
        ndvi_array[i] = get_ndvi_timing(lon, lat, year, month, dataset)
    output_df = pd.DataFrame({'id': df_id, 'lon': df_lon, 'lat': df_lat, 'year': df_year, 'month':df_month, 'ndvi': ndvi_array})
    return output_df

To get the NDVI values for these places, I use the function `get_ndvi_timing_all` defined here.
Again, notice that there are 5 arguments required in this function:
1. df_id: ID in the dataset, which makes it easy to merge the output data with the original dataset (for example, on Stata, by using `merge` command);
2. df_lon: longitudes in each place;
3. df_lat: latitudes in each place;
4. df_year: the year of the events recorded in the dataset;
5. df_month: the month of the events recorded in the dataset.

### Example: ACLED

Here I show how to use the functions above by using the ACLED dataset.

In [60]:
acled_data = pd.read_excel('Africa_1997-2020_Apr25_short.xlsx')

The first three arguments in the function `get_ndvi_timing_all` can be obtained in the same way as above:

In [ ]:
df_id = acled_data.EVENT_ID_CNTY
df_lon = acled_data.LONGITUDE
df_lat = acled_data.LATITUDE

You need some data processing to get the other two arguments, `df_year` and `df_month`, since these are not recorded in the ACLED dataset.
In the dataset, the event date is recorded like `01-January-1997`.
`pd.to_datetime` can convert such information into the `datetime` type, which allows us to get the year and month information:

In [61]:
acled_datetime = pd.to_datetime(acled_data.EVENT_DATE)
df_year = acled_datetime.dt.year
df_month = acled_datetime.dt.month

Now, giving the information at hand to the `get_ndvi_timing_all` function, we get the NDVI values at each GPS coordinate at a certain time:

In [62]:
output = get_ndvi_timing_all(df_id, df_lon, df_lat, df_year, df_month)
output

       id    lon     lat  year  month      ndvi
0    ALG1  2.789  36.672  1997      1  0.287340
1    ALG2  0.883  36.133  1997      1  0.095999
2    ALG3 -0.290  34.966  1997      1  0.163068
3    ALG4  2.829  36.469  1997      1  0.190112
4    ALG5  2.789  36.672  1997      1  0.287340
5    ALG6  2.922  36.803  1997      1  0.114687
6    ALG7  2.418  36.514  1997      1  0.157304
7    ALG8  6.874  35.971  1997      1  0.090236
8   ALG11  5.767  36.800  1997      1  0.236364
9    ALG9  3.042  36.752  1997      1  0.369996
10  ALG10  2.789  36.672  1997      1  0.287340
11  ALG12  3.118  36.722  1997      1  0.101067

You can save the output table as a csv file by `output.to_csv('filename.csv')`.